*.class
/build/*.bin
/build/*.zip
# licensed tilesets in their original form - should not redistribute these
/design/img/modern/
# excluding until xm->esf conversion is supported in build tools 
/design/xm/
